<div class=" content">
    <div class=" row">
        <div class=" col-md-8">
            <div class=" card">
                <div class=" card-header">
                    <h5 class=" title">Ajouter Produit</h5>
                </div>
                <div class=" card-body">

                    <form (ngSubmit)="saveProduct()">
                        <div class=" row">


                        </div>
                        <div class=" row">
                            <div class=" col-md-6 pr-md-1">
                                <div class=" form-group">
                                    <label>Code produit</label>
                                    <input type="text" [(ngModel)]="produit.codeProduit" name="codeProduit" />
                                </div>
                            </div>
                            <div class=" col-md-6 pl-md-1">
                                <div class=" form-group">
                                    <label>Libelle</label>
                                    <input type="text" [(ngModel)]="produit.libelle" name="libelle" />
                                </div>
                            </div>
                        </div>
                        <div class=" card-footer">
                            <button class=" btn btn-fill btn-danger" type="submit">Ajouter</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <div class=" row">
        <div class=" card-body">
            <div class=" table-responsive">
                <table class=" table tablesorter" id="">
                    <thead class=" text-primary">
                        <tr>
                            <th>Code Produit</th>
                            <th>Libelle</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let p of products">
                            <td>{{p.codeProduit}}</td>
                            <td>{{p.libelle}}</td>
                            <td><button (click)="deleteProduct(p)">Delete</button></td>
                            <td><button (click)="editProduct(p.idProduit)">Edit</button></td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>