<div class=" content">
    <div class=" row">
      <div class=" col-md-8">
        <div class=" card">
          <div class=" card-header">
            <h5 class=" title">Modifier Produit</h5>
          </div>
          <div class=" card-body">
  
            <form (ngSubmit)="updateProduct()">
              <div class=" row">
  
  
              </div>
              <div class=" row">
                <div class=" col-md-6 pr-md-1">
                  <div class=" form-group">
                    <label>Code Produit</label>
                    <input type="text" [(ngModel)]="produit.codeProduit" name="codeProduit" />
                  </div>
                </div>
                <div class=" col-md-6 pl-md-1">
                  <div class=" form-group">
                    <label>Libelle</label>
                    <input type="text" [(ngModel)]="produit.libelle" name="libelle" />
                  </div>
                </div>
              </div>
              <div class=" card-footer">
                <button class=" btn btn-fill btn-danger" type="submit">Edit</button>
              </div>
            </form>
          </div>
  
        </div>
      </div>
    </div>
  </div>